@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Gothic+A1:300,500,700);
@font-face {
  font-family: Neuropol;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/neuropol.eot");
  src: url("../fonts/neuropol.eot#iefix") format("embedded-opentype"), url("../fonts/neuropol.woff2") format("woff2"), url("../fonts/neuropol.woff") format("woff"), url("../fonts/neuropol.ttf") format("truetype"); }
/* 태그 초기화 */
body, div, ul, h1, h2, h3, h4, h5, h6, p, button, form {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit; }

button {
  border: none;
  background: none;
  cursor: pointer; }

input, button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit; }

img {
  vertical-align: top;
  border: none; }

img, video {
  max-width: 100%; }

header, nav, section, footer {
  display: block; }

/* common class */
.blind-b {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

.p_a {
  position: absolute; }

.p_r {
  position: relative; }

.f_l {
  float: left; }

.f_r {
  float: right; }

.max1920 {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto; }

.max1440 {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto; }

.max768 {
  max-width: 768px;
  width: 100%;
  margin: 0 auto; }

.discover_btn {
  display: inline-block;
  text-align: center;
  font-weight: 500; }
  .discover_btn.darkgrey {
    background: #505050; }
  .discover_btn.square {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    width: 430px;
    height: 95px;
    line-height: 95px; }

.fade {
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 0; }
  .fade.up {
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -o-transform: translateY(40px);
    -ms-transform: translateY(40px);
    transform: translateY(40px); }
  .fade.down {
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px); }
  .fade.left {
    -webkit-transform: translateX(40px);
    -moz-transform: translateX(40px);
    -o-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px); }
  .fade.right {
    -webkit-transform: translateX(-40px);
    -moz-transform: translateX(-40px);
    -o-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    transform: translateX(-40px); }
  .fade.smaller {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); }
  .fade.bigger {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -o-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7); }
  .fade.cameraR {
    -webkit-transform: translateX(-80px);
    -moz-transform: translateX(-80px);
    -o-transform: translateX(-80px);
    -ms-transform: translateX(-80px);
    transform: translateX(-80px); }
  .fade.cameraL {
    -webkit-transform: translateX(80px);
    -moz-transform: translateX(80px);
    -o-transform: translateX(80px);
    -ms-transform: translateX(80px);
    transform: translateX(80px); }
  .fade.cameraD {
    -webkit-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    -o-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    transform: translateY(-80px); }
  .fade.moreBigger {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5); }

.fade.on {
  opacity: 1; }
  .fade.on.up, .fade.on.down {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px); }
  .fade.on.left, .fade.on.right {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px); }
  .fade.on.smaller, .fade.on.bigger {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

body {
  font-family: "Gothic A1", "맑은 고딕", "Malgun Gothic";
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  word-break: keep-all;
  line-height: 1.3125; }
  body * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

#skip a {
  position: absolute;
  top: 0;
  left: -9999px;
  z-index: 1000; }
  #skip a a:focus {
    left: 0;
    width: 100%;
    background: #00E4F3;
    text-align: center;
    font-weight: 500;
    font-size: 26px;
    height: 50px;
    line-height: 50px; }

@media screen and (max-width: 1520px) {
  .max1440 {
    max-width: 100%;
    padding: 0 50px; } }
@media screen and (max-width: 1440px) {
  .discover_btn {
    width: 29.5987012987vw;
    height: 6.6701298701vw; } }
.fixedBtn {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  position: fixed;
  bottom: 60px;
  right: 35px;
  width: 129px;
  height: 100px; }
  .fixedBtn .goUpBtn {
    position: absolute;
    /* opacity: 0; */
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    z-index: 1300; }
  .fixedBtn #btnTop.active {
    opacity: 1; }
  .fixedBtn .chattingBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    /* opacity: 0; */
    padding-top: 12px;
    width: 123px;
    height: 50px;
    padding-top: 12px;
    z-index: 1300; }
  .fixedBtn #chattingbtn.active {
    opacity: 1; }

@media screen and (max-width: 1920px) {
  .max1920 {
    max-width: 100%;
    padding: 0 60px; } }
@media screen and (max-width: 1440px) {
  .max1440 {
    max-width: 100%;
    padding: 0 50px; } }
@media screen and (max-width: 768px) {
  .max768 {
    max-width: 100%;
    padding: 0 20px; } }

/*# sourceMappingURL=common.css.map */
