@charset "utf-8";
@import "_mixin", "_function", "_var";

@import url(https://fonts.googleapis.com/css?family=Gothic+A1:300,500,700);
@font-face {
    font-family: Neuropol;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/neuropol.eot");
    src: url("../fonts/neuropol.eot#iefix") format("embedded-opentype"),
         url("../fonts/neuropol.woff2") format("woff2"),
         url("../fonts/neuropol.woff") format("woff"),
         url("../fonts/neuropol.ttf") format("truetype");
}

/* 태그 초기화 */
body, div, ul, h1, h2, h3, h4, h5, h6, p, button, form {margin: 0;padding: 0;}
ul {list-style: none;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;}
a:link, a:visited, a:hover, a:active {text-decoration: none; color: inherit;}
button {border: none; background: none; cursor: pointer;}
input, button {font-family: inherit;font-size: inherit;color: inherit;line-height: inherit;}
img {vertical-align: top;border: none;}
img, video {max-width: 100%;}
header, nav, section, footer {display: block;}

/* common class */
.blind-b {width: 1px; height: 1px; overflow: hidden; position: absolute; clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%);}
.clearfix::after {content: "";display: block; clear: both;}
.p_a {position: absolute;}
.p_r {position: relative;}
.f_l {float: left;}
.f_r {float: right;}
.max1920 {max-width: 1920px; width: 100%; margin: 0 auto;}
.max1440 {max-width: 1440px; width: 100%; margin: 0 auto;}
.discover_btn {
    display: inline-block; text-align: center;font-weight: 500;
    &.darkgrey {background: $darkgrey;}   
    &.square {
        @include border-radius(7px);
        width: 430px;height: 95px;line-height: 95px;
    } 
}
.fade {
    @include transition(all 0.8s);
    opacity: 0;
    //수직은 translateY => 기준 아래는 +, 기준 위는 -
    &.up {@include transform(translateY(40px));}
    &.down{@include transform(translateY(-40px));}
    //수평은 translateX => 기준 오른쪽 +, 기준 왼쪽-
    &.left {@include transform(translateX(40px));}
    &.right{@include transform(translateX(-40px));}
    //커지기
    &.smaller {@include transform(scale(1.5));}
    &.bigger {@include transform(scale(0.7));}

    &.cameraR {@include transform(translateX(-80px));}
    &.cameraL {@include transform(translateX(80px));}
    &.cameraD {@include transform(translateY(-80px));}
    &.moreBigger {@include transform(scale(0.5));}
}
.fade.on {
    opacity: 1;
    &.up, &.down {@include transform(translateY(0px));}
    &.left, &.right{@include transform(translateX(0px));}
    &.smaller, &.bigger {@include transform(scale(1));}
}

.fixedBtn {
    @include transition(opacity 0.3s);
    position: fixed; bottom: 25px; right: 35px;width: 129px;height: 112px;background: pink;
    //Top 버튼
    .goUpBtn {
        position: absolute;opacity: 0;z-index: 1300;position: absolute;right: 0; top: 0; width: 50px; height: 50px;
    }
    #btnTop.active {opacity: 1;}

//채팅상담하기 버튼
    .chattingbtn {
        position: absolute; bottom: 0; right: 0; opacity: 0;z-index: 1300;padding-top: 12px;width: 123px; height: 50px; padding-top: 12px;
    }
    #chattingbtn.active {opacity: 1;}
}


//body
body {
    font-family: "Gothic A1", "맑은 고딕", "Malgun Gothic"; font-size: 16px;font-weight: 300; color: #fff;word-break: keep-all; line-height: 1.3125;
    * {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
}

//skip
#skip a {
    position: absolute; top: 0; left: -9999px; z-index: 1000; 
    a:focus {left: 0; width: 100%;  background: $lightblue; text-align: center; font-weight: 500;font-size: 26px;height: 50px;line-height: 50px;}
}

//footer
#footer {
    background: #000;height: 842px;width: 100%;padding-top:80px;
    .foot {
        position: relative; width: 88.38541666666667vw/* 1697px */;height: 34.73958333333333vw/* 667px */;/* background: grey; */text-align: center;
        a {display: block;font-size: 14px;padding-bottom: 1.09375vw/* 21px */;}
        strong {font-size: 16px;}
        p {text-align: center;}
        .brandInfo {
            div.info + div.info {padding-left: 10.41666666666667vw/* 200px */;}
            &::after {
                content:""; position: absolute; width: 88.33333333333333vw/* 1696px */;height: 1px;background-color: #fff;text-align: center;top: 0; left: 5.859375vw;
            }
        }
        .info {float: left; text-align: left;}
        .brandInfo {
            padding-left: 10.208333vw/* 100px */;position: relative;padding-top: 60.5px;width: 1442px;height: 337px;margin: 0;
        }
        .bottomMenu {margin-top: 630px;}
        .closest {
            position: absolute; bottom: 0; left: 0;padding-left: 113px;
            img {width: 31px;height: 31px;}
            p {padding-top: 5px;bottom: 0;left: 0;text-align: center;}
        }
        .copyright {
            position: absolute;display: inline-block;bottom: 0; left: calc(50% - 126px);color: #c2c2c2;font-weight: 500;font-size: 14px; }
        .foot_icon {
            position: absolute; height: 31px;width: 231px;bottom: 0;right:113px;
            ul {
                li {display: inline;}
                button {width: 31px; }
                a {
                    padding-right: 9px;
                    img {
                        display: inline-block; width: 31px; height: 31px;
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 1920px) {
    .max1920 {max-width: 100%; padding: 0 60px;}
}
@media screen and (max-width: 1440px) {
    .max1440 {max-width: 100%; padding: 0 60px;}
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 414px) {
    
}
@media screen and (min-width: 360px) {

}

