@charset "utf-8";
@import "_var", "_mixin", "_function";

#wrap { min-width: 20rem;}

//header
#header {//pc, 태블릿 공통
    position: fixed; bottom: 0; left: 0; height: 90px;width: 100%;background: #000;line-height: 90px;text-align: center;z-index: 1000;
    .logo {
        position: absolute; left: 9px; top: 0;
        a {
            @include bgSize(cover);
            display: block; width: 161px; height: 91px;padding-left: 9px;
        }
    }
    .util {
        position: absolute; top: 29px; right: 30px; width: 201px; height: 34px;line-height: 34px;
        /*.bg_white {background: #fff;}  모바일용에서 따로 만들기 잠시 가림 */
        > div {float: left;}
        > div + div {padding-left: 1.45vw;}
        .search {
            .search_wrap {
                display: none; background: #fff; color: #000; width: 100%;height: 50px;
                img {width: 34px; height: 34px;}
            }
        }
        .lang {
            > ul {
                margin-top: 27px;
                li {
                    display: none;width: 80px;height: 44px;line-height: 44px;background: #fff;color: #000;text-align: center;font-weight: 500;border: 1px solid $grey;
                    &:hover, &:focus {
                        background-color: $lightblue;
                    }
                }
            }
        }

    }
    #pcGnb {
        position: relative; text-align: center;z-index: 800;
        ul li {display: inline-block;}
        > ul > li {
            font-size: 21px;font-weight: 500 !important;
            &:hover > a, &.on >a, &:focus > a {
                @include transition(0.3s);
                @include transform( translateY(-100%) );
                color: $lightblue;  
                }
            & + li {padding-left: 80px;}
            }
        }
        
        .dep2wrap {
            position: absolute; bottom: 90px; left: 0; width: 100%;background: #fff; color: #000;height: 70px; line-height: 70px; 
            > li {
                float: left;font-size: 17px;font-weight: 700;position: relative;
                &::after {
                    @include transition(all 0.2px);
                    content:"";position: absolute; width: 100%;height: 1px;background-color: $lightblue;opacity: 0;
                }
                &:hover, &:focus {
                    opacity: 1;
                }
            }
        }        
        ul li ul li + li {padding-left: 90px;}
}
#mHeader {display: none;}

//footer
#footer {
    background: #000;height: 842px;width: 100%;padding-top:80px;
    .foot {
        position: relative; width: 1697px;height: 667px;text-align: center;
        a {display: block;font-size: 14px;padding-bottom: 21px;}
        strong {font-size: 16px;}
        p {text-align: center;}
        .brandInfo {
            div.info + div.info {padding-left: 200px;}
            &::after {
                content:""; position: absolute; width: 1566px;height: 1px;background-color: #fff;text-align: center;top: 0; left: 112.5px;
            }
        }
        .info {float: left; text-align: left;}
        .brandInfo {
            padding-left: 200px;position: relative;padding-top: 60.5px;width: 1700px;height: 337px;margin: 0;
        }
        .programInfo {
            right: 0; top: 0;
        }
        .bottomMenu {margin-top: 630px;}
        .closest {
            position: absolute; bottom: 0; left: 0;padding-left: 113px;
            img {width: 31px;height: 31px;}
            p {padding-top: 5px;bottom: 0;left: 0;text-align: center;}
        }
        .copyright {
            position: absolute;display: inline-block;bottom: 0; left: calc(50% - 126px);color: #c2c2c2;font-weight: 500;font-size: 14px; }
        .foot_icon {
            position: absolute; height: 31px;width: 231px;bottom: 0;right: 75px;
            ul {
                li {display: inline;}
                button {width: 31px; }
                a {
                    padding-right: 9px;
                    img {display: inline-block; width: 31px; height: 31px;}
                }
            }

        }
    }
}
@media screen and (max-width: 1770) {
    //footer
    #footer {
        .foot {
            width: 1655px;
            .brandInfo {
                div.info + div.info {padding-left: 190px;}
                &::after {width: 1590px;left: 30.5px;}
            }
            .brandInfo {padding-left: 170px;width: 1470px;height: 428px;}
            .closest {padding-left: 28px; bottom: -20px;}
            .foot_icon { height: 31px;width: 231px;right: 80px;}
        }
    }
}

@media screen and (max-width: 1520px) {
    //footer
    #footer {
        .foot {
            width: 1403px;
            a {padding-bottom: 20px;}
            .brandInfo {
                div.info + div.info {padding-left: 170px;}
                &::after {width: 1386px;left: 16.5px;}
            }
            .brandInfo {
                padding-left: 95px;padding-top: 50.5px;width: 1315px;height: 428px;
            }
            .closest {padding-left: 27px; bottom: -18px;}
            .copyright {left: calc(50% - 124.745px);}
            .foot_icon {
                height: 31px;width: 231px;right: 0;
                ul {
                    button {width: 34px; }
                    a {padding-right: 9px;
                        img {width: 34px; height: 34px;}
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    //header
    
    //footer
    #footer {
        height: 750px;
        .foot {
            width: 1200px;height: 650px;
            a {padding-bottom: 19px;}
            .brandInfo {
                div.info + div.info {padding-left: 140px;}
                &::after {width: 1300px; left: 36.5px;}
            }
            .brandInfo {padding-left: 98px;padding-top: 47.5px;}
            .closest {
                padding-left: 20px;
                img {width: 27px;height: 27px;}
            }
            .copyright {left: calc(50% - 124.745px);}
            .foot_icon {
                height: 36px; width: 261px;right:-124px;bottom: 19px;
                ul {
                    button {width: 36px; }
                    a {padding-right: 9px;
                        img {width: 36px; height: 36px;}
                    }
                }
    
            }
        }
    }
}

//태블릿
@media screen and (max-width: 768px) {
    //header
    #header {
        height: 60px;line-height: 60px;width: 768px;top:0;
        .logo {
            width: 73px; padding-top: 8px; left: 8px; height: 54px;
            a {width: 75px; height: 45px;padding-left: 0;}
        }
        .util {
            top: 19px; right: 15px; width: 105px; height: 34px;line-height: 34px;
            > div + div {padding-left: 8.2px;}
            .search {
                button {width: 21.5px;height: 21.5px;}
                .search_wrap {
                    display: none;width: 100%;height: 50px;
                    img {width: 21.5px; height: 21.5px;}
                }
            }
            .lang {
                button {width: 38.5px;}
                > ul {margin-top: 7px;
                    li {
                        display: block;font-size: 9px;width: 38.5px;height: 29px;line-height: 29px;
                    }
                }
            }
            .account {button {width: 21.5px;}
            }
        }
        #pcGnb {
            > ul > li {
                font-size: 14px;
                & + li {padding-left: 19px;}
                }
            }
            .dep2wrap {bottom: 60px; height: 40px; line-height: 40px;}        
            ul li ul li + li {padding-left: 90px;}
    }
    
    //footer
    #footer {
        height: 750px;
        .foot {
            width: 700px;height: 650px;
            > a {padding-bottom: 17px;}
            .brandInfo {
                div.info + div.info {padding-left: 68px;}
                &::after {width: 700px; left: -3.5px;}
            }
            .brandInfo {padding-left: 17px;padding-top: 40.5px;width: 686px; height: 465px;}
            .programInfo {top: 187px; right: 66px;}
            .closest {
                padding-left: 0;left: -20px;
                img {width: 27px;height: 27px;}
            }
            .copyright {left: calc(50% - 124.745px);}
            .foot_icon {
                height: 31px; width: 100px;right: 20px;bottom: 32px;
                ul {
                    button {width: 26.5px;height: 26.5px; }
                    a {padding-right: 4px;
                        img {width: 36px; height: 36px;}
                    }
                }
    
            }
        }
    }
}

//모바일(414-360)
@media screen and (max-width: 414px) {
        //header
        #header {display: none;}

        #mHeader {
            position: fixed; display: block !important; top: 0; left: 0; height: 50px;width:414px;background: #000;line-height: 50px;text-align: center;z-index: 1000;
            .logo {
                position: absolute; left: 9px; top: 0;width: 55.6px; height: 31.3px;padding-top: 8.7px;
                a {
                    @include bgSize(cover);
                    display: block;
                    img {width: 55.6px; height: 31.3px;}
                }
            }
            button.menu_open {position: absolute; right: 16px; top: 15px; width: 25px; height: 25px;}
            .mUtil {
                position: absolute; top: 17px; right: 16px; width: 360px; height: 100%;text-align: right; background-color: #fff;color: #000;

                .mgnb_wrap {

                    .bg_white {
                        width: 100px; height: 25px;position: absolute; top: 0; right: 0;
                        .mAccount {width: 25px; height: 25px;}
                        .mShopping {width: 25px; height: 25px;}
                    }
                    #mGnb {
                        ul > li {
                            font-size: 30px; font-weight: 700;
                            > ul > li {font-size: 20px;font-weight: 500;background: lightgrey;}
                        }
                        
                    }

                }
            }   
        }


                //footer

}
    
