@charset "UTF-8";
#cnt1 .swiper-container {
  position: relative;
  width: 100%;
  height: 100vh; }
#cnt1 .swiper-slide {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
  position: relative;
  height: 100vh;
  background: no-repeat center; }
  #cnt1 .swiper-slide #videoBg {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    /* min-width: 100%; */
    min-height: auto;
    z-index: -1; }
  #cnt1 .swiper-slide.slide2 {
    background-image: url("../img/main/index1_02_1920.png"); }
  #cnt1 .swiper-slide.slide3 {
    background-image: url("../img/main/index1_03_1920.png"); }
  #cnt1 .swiper-slide .txtbox {
    position: absolute;
    top: 300px;
    left: 7%;
    text-align: left; }
  #cnt1 .swiper-slide .txtbox p {
    font-size: 40px;
    letter-spacing: 1.27px;
    font-weight: 500; }
  #cnt1 .swiper-slide .txtbox h3 {
    font-size: 56px;
    font-weight: 700;
    padding-bottom: 68px; }
  #cnt1 .swiper-slide .txtbox p:nth-child(3) {
    font-size: 34px;
    font-weight: 300;
    padding-bottom: 119px;
    letter-spacing: 0.75px; }
  #cnt1 .swiper-slide > .txtbox > .linkWrapper > .innerWrapper > a {
    position: relative;
    font-size: 33px;
    font-weight: 700;
    letter-spacing: 0.89px; }
#cnt1 .slide1 .txtbox .linkWrapper {
  position: relative; }
#cnt1 .slide3 .simpleExplan {
  position: absolute;
  bottom: 222px;
  right: 167px;
  width: 615px;
  height: 106px;
  font-size: 18px;
  text-align: center; }
  #cnt1 .slide3 .simpleExplan .simpleWrap {
    float: left;
    background: no-repeat center;
    width: 168px;
    height: 103px; }
  #cnt1 .slide3 .simpleExplan .cloud img {
    width: 88px;
    height: 62px; }
  #cnt1 .slide3 .simpleExplan .cloud p {
    margin-top: 23px;
    width: 181px; }
  #cnt1 .slide3 .simpleExplan .discount {
    margin-left: 55px; }
    #cnt1 .slide3 .simpleExplan .discount img {
      -webkit-transform: translateX(-2%);
      -moz-transform: translateX(-2%);
      -o-transform: translateX(-2%);
      -ms-transform: translateX(-2%);
      transform: translateX(-2%);
      width: 119px;
      height: 58px;
      margin-bottom: 27px; }
  #cnt1 .slide3 .simpleExplan .cameraChange {
    margin-left: 55px; }
    #cnt1 .slide3 .simpleExplan .cameraChange img {
      -webkit-transform: translateX(1%);
      -moz-transform: translateX(1%);
      -o-transform: translateX(1%);
      -ms-transform: translateX(1%);
      transform: translateX(1%);
      width: 116px;
      height: 73px;
      margin-bottom: 12px; }
#cnt1 .pagewrap {
  position: absolute;
  top: 100px;
  right: 6%;
  width: 20%;
  height: 4px;
  z-index: 100; }
#cnt1 .swiper-pagination {
  bottom: 0;
  font-size: 33px;
  font-weight: 700;
  line-height: 1; }
  #cnt1 .swiper-pagination span {
    float: left; }
  #cnt1 .swiper-pagination span:last-child {
    float: right; }
#cnt1 .swiper-progress-bar {
  position: absolute;
  left: 10%;
  top: 50%;
  width: 80%;
  display: block;
  z-index: 1;
  height: 2px; }
  #cnt1 .swiper-progress-bar span.slide_progress-bar {
    position: absolute;
    height: 100%;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0; }
    #cnt1 .swiper-progress-bar span.slide_progress-bar:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: #00E4F3;
      width: 0;
      height: 100%; }
  #cnt1 .swiper-progress-bar.active .slide_progress-bar {
    opacity: 1; }
  #cnt1 .swiper-progress-bar.animate .slide_progress-bar:after {
    width: 100%;
    transition: width 16s linear; }
#cnt1 .swiper-pagination {
  position: absolute;
  top: 100px;
  left: 7%;
  bottom: auto;
  font-size: 33px;
  letter-spacing: 0.2rem;
  font-weight: 700;
  width: auto;
  height: auto; }
#cnt1 .controller {
  position: absolute;
  bottom: 20%;
  left: 7%;
  z-index: 500;
  width: 500px;
  height: 87px; }
  #cnt1 .controller .swiper-button-prev, #cnt1 .controller .swiper-button-next {
    position: static; }
  #cnt1 .controller .swiper-button-wrap {
    position: relative;
    z-index: 20;
    background: grey; }
  #cnt1 .controller .swiper-button-prev, #cnt1 .controller .swiper-button-next, #cnt1 .controller .play_stop {
    background: no-repeat center;
    display: inline-block;
    width: 87px;
    height: 87px; }
  #cnt1 .controller .swiper-button-next:after, #cnt1 .controller .swiper-button-prev:after {
    display: none; }
  #cnt1 .controller .swiper-button-prev, #cnt1 .controller .swiper-button-next {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    float: left;
    display: block;
    padding: 3px;
    border: 3px solid #fff;
    margin-top: 0;
    /* &:hover, &:focus {
    } */ }
  #cnt1 .controller .swiper-button-next {
    margin-left: 196px; }
  #cnt1 .controller .swiper-button-prev {
    background-image: url("../img/icon/prev.svg"); }
  #cnt1 .controller .swiper-button-next {
    background-image: url("../img/icon/next.svg"); }
  #cnt1 .controller .play_stop {
    position: absolute;
    right: 270px;
    bottom: -1px;
    z-index: 200; }
  #cnt1 .controller .pause {
    background-image: url("../img/icon/pause.svg"); }
  #cnt1 .controller .autoplay {
    display: none;
    background-image: url("../img/icon/play.svg"); }
#cnt1.right .swiper-slide .txtbox {
  left: auto;
  right: 7%;
  text-align: right; }
#cnt1.right .swiper-pagination {
  right: 7%;
  left: auto; }

#cnt2 {
  position: relative;
  background: #000;
  color: #fff; }
  #cnt2 .newbie {
    position: relative;
    background: url("../img/main/t_cnt2_newbie_2x.png") no-repeat center; }
    #cnt2 .newbie .newbieTxt > strong {
      position: absolute;
      top: 272px;
      left: 141px;
      font-size: 60px;
      font-weight: 700;
      line-height: 83px;
      z-index: 250; }
    #cnt2 .newbie .detailWrap {
      position: relative;
      padding-top: 358px;
      right: 0;
      height: auto;
      overflow: auto;
      z-index: 200; }
      #cnt2 .newbie .detailWrap .newbieDetail {
        padding-left: 725px; }
        #cnt2 .newbie .detailWrap .newbieDetail > h3 {
          position: relative;
          font-size: 56px;
          font-weight: 700;
          line-height: 122px;
          padding-bottom: 50px;
          margin-top: 148.5px; }
          #cnt2 .newbie .detailWrap .newbieDetail > h3::before {
            content: "";
            position: absolute;
            top: -95px;
            right: 0;
            height: 2px;
            width: 1290px;
            background-color: #999; }
        #cnt2 .newbie .detailWrap .newbieDetail > p {
          font-size: 26px;
          font-weight: 300;
          line-height: 35px;
          padding-bottom: 148.5px; }
          #cnt2 .newbie .detailWrap .newbieDetail > p:nth-child(1) {
            width: 765px; }
          #cnt2 .newbie .detailWrap .newbieDetail > p:nth-child(2) {
            width: 792px; }
          #cnt2 .newbie .detailWrap .newbieDetail > p:nth-child(3) {
            width: 843px; }
          #cnt2 .newbie .detailWrap .newbieDetail > p:nth-child(4) {
            width: 754px; }
        #cnt2 .newbie .detailWrap .newbieDetail:first-child h3 {
          margin-top: 100px; }
        #cnt2 .newbie .detailWrap .newbieDetail:last-child p {
          padding-bottom: 160px; }

#cnt3 {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%; }
  #cnt3 .camerasWrap {
    position: absolute;
    width: 115%;
    height: 100vh;
    left: -98px;
    top: 0;
    overflow: hidden; }
  #cnt3 .camera {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    -webkit-transform: skewX(-5deg);
    -moz-transform: skewX(-5deg);
    -o-transform: skewX(-5deg);
    -ms-transform: skewX(-5deg);
    transform: skewX(-5deg);
    position: absolute;
    background: no-repeat center;
    height: 100vh;
    width: 39.0625vw; }
    #cnt3 .camera::before {
      -webkit-filter: blur(3px);
      filter: blur(3px);
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: inherit; }
    #cnt3 .camera .cameras {
      -webkit-transform: skewX(5deg) translateX(-50%);
      -moz-transform: skewX(5deg) translateX(-50%);
      -o-transform: skewX(5deg) translateX(-50%);
      -ms-transform: skewX(5deg) translateX(-50%);
      transform: skewX(5deg) translateX(-50%);
      position: absolute;
      top: 30%;
      width: 100%; }
      #cnt3 .camera .cameras.cameraR {
        -webkit-transform: skewX(5deg) translateX(-50%);
        -moz-transform: skewX(5deg) translateX(-50%);
        -o-transform: skewX(5deg) translateX(-50%);
        -ms-transform: skewX(5deg) translateX(-50%);
        transform: skewX(5deg) translateX(-50%); }
      #cnt3 .camera .cameras.cameraL {
        -webkit-transform: skewX(5deg) translateX(-50%);
        -moz-transform: skewX(5deg) translateX(-50%);
        -o-transform: skewX(5deg) translateX(-50%);
        -ms-transform: skewX(5deg) translateX(-50%);
        transform: skewX(5deg) translateX(-50%); }
      #cnt3 .camera .cameras.cameraD {
        -webkit-transform: skewX(5deg) translateX(-50%);
        -moz-transform: skewX(5deg) translateX(-50%);
        -o-transform: skewX(5deg) translateX(-50%);
        -ms-transform: skewX(5deg) translateX(-50%);
        transform: skewX(5deg) translateX(-50%); }
  #cnt3 #camera1 {
    top: 0;
    left: 0;
    background-image: url("../img/main/camera_bg1.jpg"); }
    #cnt3 #camera1 img {
      width: 340px;
      height: 340px;
      left: 50%; }
  #cnt3 #camera2 {
    top: 0;
    left: 35.333333vw;
    background-image: url("../img/main/camera_bg2.jpg"); }
    #cnt3 #camera2 img {
      width: 432px;
      height: 305px;
      left: 50%; }
    #cnt3 #camera2 a {
      -webkit-transform: skewX(5deg) translateX(-50%);
      -moz-transform: skewX(5deg) translateX(-50%);
      -o-transform: skewX(5deg) translateX(-50%);
      -ms-transform: skewX(5deg) translateX(-50%);
      transform: skewX(5deg) translateX(-50%);
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      position: absolute;
      bottom: 15.7291666667vw;
      left: 50%;
      width: 255px;
      height: 56px;
      background-color: #505050;
      line-height: 56px;
      font-size: 20px;
      z-index: 300; }
      #cnt3 #camera2 a:hover, #cnt3 #camera2 a:focus {
        -webkit-background: linear-gradient(#12C2E9, #096A8A, #000000);
        -moz-background: linear-gradient(#12C2E9, #096A8A, #000000);
        -o-background: linear-gradient(#12C2E9, #096A8A, #000000);
        -ms-background: linear-gradient(#12C2E9, #096A8A, #000000);
        background: linear-gradient(#12C2E9, #096A8A, #000000); }
  #cnt3 #camera3 {
    top: 0;
    left: 72.666667vw;
    background-image: url("../img/main/camera_bg3.jpg"); }
    #cnt3 #camera3 img {
      width: 244px;
      height: 287px;
      left: 50%; }

#cnt4 {
  color: #000;
  width: 100%;
  background-color: #ebebeb;
  height: 2100px; }
  #cnt4 .category {
    position: relative;
    width: 85.8854166667vw;
    height: auto;
    text-align: center;
    margin: 0 auto;
    background: url("../img/main/GoProtxt.svg") no-repeat fixed center;
    background-size: 55.46875vw; }
    #cnt4 .category > p {
      color: #8e8e8e;
      font-size: 31px;
      font-weight: 700;
      padding-bottom: 15px;
      padding-top: 90px; }
    #cnt4 .category > strong {
      display: block;
      font-size: 60px;
      font-weight: 700; }
    #cnt4 .category .categoryOuterWrap {
      width: 1649px;
      height: 452px; }
    #cnt4 .category .categoryWrap {
      position: relative;
      display: block;
      float: left;
      text-align: left;
      padding-top: 68px; }
      #cnt4 .category .categoryWrap .otherWrap {
        padding-right: 90px;
        position: relative; }
        #cnt4 .category .categoryWrap .otherWrap a {
          display: block;
          margin-bottom: 24.5px;
          cursor: pointer; }
          #cnt4 .category .categoryWrap .otherWrap a .beforeHover {
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            border-radius: 7px; }
          #cnt4 .category .categoryWrap .otherWrap a .hoverImg {
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            border-radius: 7px;
            -webkit-transition: opacity 0.5s;
            -moz-transition: opacity 0.5s;
            -o-transition: opacity 0.5s;
            transition: opacity 0.5s;
            position: absolute;
            width: 485px;
            height: 550px;
            top: 0;
            left: 0;
            margin-bottom: 24.5px;
            opacity: 0; }
          #cnt4 .category .categoryWrap .otherWrap a:hover .hoverImg, #cnt4 .category .categoryWrap .otherWrap a:focus .hoverImg {
            opacity: 1; }
      #cnt4 .category .categoryWrap h4 {
        font-weight: 700;
        font-size: 26px;
        padding-bottom: 17.5px; }
      #cnt4 .category .categoryWrap p {
        font-size: 21px;
        line-height: 29px;
        font-weight: 500; }
        #cnt4 .category .categoryWrap p:first-child {
          width: 485px; }
        #cnt4 .category .categoryWrap p:nth-child(2) {
          width: 445px; }
        #cnt4 .category .categoryWrap p:nth-child(3) {
          width: 485px; }
      #cnt4 .category .categoryWrap:first-child > div {
        padding-right: 90px; }
      #cnt4 .category .categoryWrap:nth-of-type(2), #cnt4 .category .categoryWrap:nth-of-type(5) {
        padding-top: 196px; }
      #cnt4 .category .categoryWrap:nth-of-type(3), #cnt4 .category .categoryWrap:nth-of-type(6) {
        padding-top: 110px; }
      #cnt4 .category .categoryWrap:nth-of-type(3n) > div {
        padding-right: 0; }

#cnt5 {
  color: #000;
  background-color: #FCFCFC;
  height: 110vh; }
  #cnt5 .newsWrap {
    position: relative;
    font-weight: 700;
    text-align: center;
    width: 75.7552083333vw;
    height: 45.5729166667;
    padding-top: 134px;
    margin: 0 auto; }
    #cnt5 .newsWrap > strong {
      font-size: 60px;
      position: absolute;
      left: 35px;
      top: 134px;
      width: 162px;
      height: 60px; }
    #cnt5 .newsWrap > a {
      position: absolute;
      font-size: 18px;
      top: 177px;
      right: 134px;
      width: 48px;
      height: 18px;
      text-decoration: underline; }
      #cnt5 .newsWrap > a:hover, #cnt5 .newsWrap > a:focus {
        color: #00E4F3; }
    #cnt5 .newsWrap .newsCntWrap {
      position: relative;
      width: 100%;
      height: 38.8541666667vw;
      text-align: left;
      color: #333;
      padding: 85px 40px 0; }
      #cnt5 .newsWrap .newsCntWrap ul li {
        border-top: 1px solid #707070;
        border-bottom: 1px solid #707070;
        position: relative;
        background: #FCFCFC; }
      #cnt5 .newsWrap .newsCntWrap ul li a {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        display: block;
        height: 198px; }
        #cnt5 .newsWrap .newsCntWrap ul li a::after {
          content: "";
          display: block;
          clear: both; }
        #cnt5 .newsWrap .newsCntWrap ul li a .category {
          font-size: 22px;
          color: #00E4F3;
          font-weight: 700;
          padding-bottom: 15px;
          padding-top: 73.5px; }
        #cnt5 .newsWrap .newsCntWrap ul li a h5 {
          float: left;
          font-size: 32px;
          padding-bottom: 37px; }
        #cnt5 .newsWrap .newsCntWrap ul li a .txt {
          display: none; }
        #cnt5 .newsWrap .newsCntWrap ul li a .date {
          float: right; }
        #cnt5 .newsWrap .newsCntWrap ul li a .img {
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s;
          width: 575px;
          height: 198px;
          position: absolute;
          top: 0;
          right: 0;
          opacity: 0;
          overflow: hidden; }
        #cnt5 .newsWrap .newsCntWrap ul li a.on {
          height: 372px; }
          #cnt5 .newsWrap .newsCntWrap ul li a.on .txt {
            display: block; }
          #cnt5 .newsWrap .newsCntWrap ul li a.on .txt {
            clear: left;
            font-weight: 300;
            padding-bottom: 65px;
            letter-spacing: 1.3125; }
          #cnt5 .newsWrap .newsCntWrap ul li a.on .date {
            float: left;
            font-size: 15px;
            font-weight: 300;
            padding-bottom: 27px; }
          #cnt5 .newsWrap .newsCntWrap ul li a.on .img {
            height: 372px;
            opacity: 1; }

#cnt6 {
  background-color: #000;
  width: 100%;
  height: 100vh; }
  #cnt6 .video {
    overflow: hidden; }
    #cnt6 .video .marquee {
      width: 100%;
      overflow: hidden;
      font-size: 7.8125vw;
      font-family: Helvetica, sans-serif;
      font-weight: 900;
      margin-bottom: 10px;
      position: relative; }
    #cnt6 .video .marquee p:after {
      content: "";
      white-space: nowrap;
      padding-right: 50px; }
    #cnt6 .video .marquee p {
      margin: 0;
      padding-left: 1200px;
      display: inline-block;
      white-space: nowrap;
      animation-name: marquee;
      animation-timing-function: linear;
      animation-duration: 30s;
      animation-iteration-count: infinite; }
    #cnt6 .video .marquee span {
      font-family: HvNenuBdOu, Helvetica;
      font-weight: 700; }
@keyframes marquee {
  from {
    transform: translate(0%); }
  to {
    transform: translate(-100%); } }
    #cnt6 .video .videoWrap {
      -webkit-border-radius: 63px;
      -moz-border-radius: 63px;
      border-radius: 63px;
      border: 8px solid #707070;
      width: 1292px;
      height: 674px;
      margin: 0 auto; }
      #cnt6 .video .videoWrap .videoInner {
        position: relative;
        padding-left: 140px;
        padding-top: 80px; }
        #cnt6 .video .videoWrap .videoInner > strong {
          font-size: 60px;
          font-weight: 700;
          padding-right: 760px; }
        #cnt6 .video .videoWrap .videoInner .iframe {
          width: 1013px;
          height: 380px;
          margin-top: 39px; }
          #cnt6 .video .videoWrap .videoInner .iframe iframe {
            float: left;
            padding-left: 15px;
            border: none; }
          #cnt6 .video .videoWrap .videoInner .iframe .iframeRight iframe:last-child {
            margin-top: 13px; }
        #cnt6 .video .videoWrap .videoInner a {
          position: absolute;
          top: 110px;
          right: 163px;
          text-decoration: underline;
          font-size: 18px;
          font-weight: 700; }
          #cnt6 .video .videoWrap .videoInner a:hover, #cnt6 .video .videoWrap .videoInner a:focus {
            color: #00E4F3; }

#cnt7 .insta {
  -webkit-background: linear-gradient(#12C2E9, #096A8A, #000000);
  -moz-background: linear-gradient(#12C2E9, #096A8A, #000000);
  -o-background: linear-gradient(#12C2E9, #096A8A, #000000);
  -ms-background: linear-gradient(#12C2E9, #096A8A, #000000);
  background: linear-gradient(#12C2E9, #096A8A, #000000);
  /* width: 100%; */
  height: 100vh;
  padding-top: 134px;
  margin: 0 auto; }
  #cnt7 .insta strong {
    font-size: 60px;
    font-weight: 700;
    padding-left: 147px; }
  #cnt7 .insta .instaWrap {
    position: relative; }
    #cnt7 .insta .instaWrap a {
      display: inline-block;
      padding-top: 43px;
      padding-right: 43px;
      position: relative; }
      #cnt7 .insta .instaWrap a:first-child {
        padding-left: 261px; }
      #cnt7 .insta .instaWrap a:nth-child(4n) {
        padding-right: 0; }
      #cnt7 .insta .instaWrap a:nth-child(5n) {
        padding-left: 261px; }
    #cnt7 .insta .instaWrap img {
      width: 320px;
      height: 320px;
      position: relative;
      /* 호버넣기 */ }
      #cnt7 .insta .instaWrap img::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.55);
        width: 100%;
        height: 100%; }

@media screen and (max-width: 768px) {
  #cnt1 .swiper-slide {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    height: 100vh; }
    #cnt1 .swiper-slide #videoBg {
      width: 100%;
      height: 100vh;
      /* min-width: 100%; */ }
    #cnt1 .swiper-slide.slide2 {
      background-image: url("../img/main/index1_02_768_2x.png"); }
    #cnt1 .swiper-slide.slide3 {
      background-image: url("../img/main/index1_03_768_2x.png"); }
    #cnt1 .swiper-slide .txtbox {
      top: 769px;
      left: 10%;
      width: 639px;
      height: 140px;
      text-align: right; }
    #cnt1 .swiper-slide .txtbox p {
      font-size: 23px;
      letter-spacing: 0.62px;
      line-height: 32px; }
    #cnt1 .swiper-slide .txtbox h3 {
      font-size: 41px;
      padding-bottom: 35px;
      line-height: 56px; }
    #cnt1 .swiper-slide .txtbox p:nth-child(3) {
      font-size: 23px;
      padding-bottom: 60px;
      letter-spacing: 0.37px; }
    #cnt1 .swiper-slide > .txtbox > .linkWrapper > .innerWrapper > a {
      font-size: 16px;
      letter-spacing: 0.43px; }
  #cnt1 .slide3 .simpleExplan {
    bottom: 0;
    top: 186px;
    right: 0;
    left: 172px;
    width: 450px;
    height: 57px;
    font-size: 12px; }
    #cnt1 .slide3 .simpleExplan .simpleWrap {
      width: 117px;
      height: 54px; }
    #cnt1 .slide3 .simpleExplan .cloud img {
      width: 48px;
      height: 34px; }
    #cnt1 .slide3 .simpleExplan .cloud p {
      margin-top: 9px;
      width: 121px; }
    #cnt1 .slide3 .simpleExplan .discount {
      margin-left: 42px; }
      #cnt1 .slide3 .simpleExplan .discount img {
        width: 59px;
        height: 29px;
        margin-bottom: 9px; }
    #cnt1 .slide3 .simpleExplan .cameraChange {
      margin-left: 42px; }
      #cnt1 .slide3 .simpleExplan .cameraChange img {
        width: 63px;
        height: 40px;
        margin-bottom: 5px; }
  #cnt1 .slide3 .txtbox h3 {
    padding-bottom: 118px; }
  #cnt1 .swiper-pagination {
    top: 100px;
    left: 12%;
    bottom: auto;
    font-size: 33px;
    letter-spacing: 0.2rem;
    font-weight: 700;
    width: auto;
    height: auto; }
  #cnt1 .loadingWrap {
    position: relative;
    width: 240px;
    height: 2px; }
    #cnt1 .loadingWrap .loadingBar {
      width: 240px;
      height: 1px;
      background-color: #fff;
      position: absolute;
      top: 118.5px;
      left: 180px; }
    #cnt1 .loadingWrap .runningBar {
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
      width: 240px;
      height: 3px;
      background-color: #fff;
      position: absolute;
      top: 118.5px;
      left: 180px; }
  #cnt1 .controller {
    bottom: 313px;
    left: 47px;
    width: 204px;
    height: 47px; }
    #cnt1 .controller .swiper-button-prev, #cnt1 .controller .swiper-button-next, #cnt1 .controller .play_stop {
      width: 48px;
      height: 47px; }
    #cnt1 .controller .swiper-button-prev, #cnt1 .controller .swiper-button-next {
      padding: 3px;
      border: 2px solid #fff; }
    #cnt1 .controller .swiper-button-next {
      margin-left: 108px; }
    #cnt1 .controller .swiper-button-prev {
      background-image: url("../img/icon/prev_768.svg"); }
    #cnt1 .controller .swiper-button-next {
      background-image: url("../img/icon/next_768.svg"); }
    #cnt1 .controller .play_stop {
      right: 75px;
      bottom: 0; }
    #cnt1 .controller .pause {
      background-image: url("../img/icon/pause_768.svg"); }
  #cnt1.right .swiper-slide .txtbox {
    left: auto;
    right: 5%;
    text-align: right; }
  #cnt1.right .swiper-pagination {
    right: 5%;
    left: auto; }

  #cnt2 .newbie {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important; }
    #cnt2 .newbie .newbieTxt > strong {
      top: 148px;
      left: 39px;
      font-size: 26px;
      line-height: 32px; }
    #cnt2 .newbie .detailWrap {
      padding-top: 149.5px; }
      #cnt2 .newbie .detailWrap .newbieDetail {
        padding-left: 290px; }
        #cnt2 .newbie .detailWrap .newbieDetail > h3 {
          font-size: 31px;
          line-height: 42px;
          padding-bottom: 25px;
          margin-top: 57.5px; }
          #cnt2 .newbie .detailWrap .newbieDetail > h3::before {
            top: -57.5px;
            width: 514px; }
        #cnt2 .newbie .detailWrap .newbieDetail > p {
          font-size: 14px;
          line-height: 19px;
          padding-bottom: 58.4px; }
          #cnt2 .newbie .detailWrap .newbieDetail > p:nth-child(1) {
            width: 335px; }
          #cnt2 .newbie .detailWrap .newbieDetail > p:nth-child(2) {
            width: 400px; }
          #cnt2 .newbie .detailWrap .newbieDetail > p:nth-child(4) {
            width: 436px; }
        #cnt2 .newbie .detailWrap .newbieDetail:first-child h3 {
          margin-top: 58px; }
        #cnt2 .newbie .detailWrap .newbieDetail:last-child p {
          padding-bottom: 53.3px; }

  #cnt3 .camerasWrap {
    height: 102vh;
    left: -51px;
    top: -7px; }
  #cnt3 .camera {
    -webkit-transform: skewX(0) skewY(-5deg);
    -moz-transform: skewX(0) skewY(-5deg);
    -o-transform: skewX(0) skewY(-5deg);
    -ms-transform: skewX(0) skewY(-5deg);
    transform: skewX(0) skewY(-5deg);
    width: 100%;
    height: 33.3333%; }
    #cnt3 .camera::before {
      -webkit-filter: blur(2px);
      filter: blur(2px); }
    #cnt3 .camera .cameras {
      /* @include transform(skewX(0) skewY(5deg)); */
      top: 20%; }
      #cnt3 .camera .cameras.cameraR {
        -webkit-transform: skewX(0) skewY(5deg) translateX(-50%);
        -moz-transform: skewX(0) skewY(5deg) translateX(-50%);
        -o-transform: skewX(0) skewY(5deg) translateX(-50%);
        -ms-transform: skewX(0) skewY(5deg) translateX(-50%);
        transform: skewX(0) skewY(5deg) translateX(-50%); }
      #cnt3 .camera .cameras.cameraL {
        -webkit-transform: skewX(0) skewY(5deg) translateX(-50%);
        -moz-transform: skewX(0) skewY(5deg) translateX(-50%);
        -o-transform: skewX(0) skewY(5deg) translateX(-50%);
        -ms-transform: skewX(0) skewY(5deg) translateX(-50%);
        transform: skewX(0) skewY(5deg) translateX(-50%); }
      #cnt3 .camera .cameras.cameraD {
        -webkit-transform: skewX(0) skewY(5deg) translateX(-50%);
        -moz-transform: skewX(0) skewY(5deg) translateX(-50%);
        -o-transform: skewX(0) skewY(5deg) translateX(-50%);
        -ms-transform: skewX(0) skewY(5deg) translateX(-50%);
        transform: skewX(0) skewY(5deg) translateX(-50%); }
  #cnt3 #camera1 {
    top: -32px;
    left: -17px;
    width: 117%; }
    #cnt3 #camera1 img {
      width: 211px;
      height: 211px;
      left: 454px; }
  #cnt3 #camera2 {
    top: 30.3333%;
    left: 0;
    height: 39%; }
    #cnt3 #camera2 img {
      -webkit-transform: skewX(0) skewY(5deg);
      -moz-transform: skewX(0) skewY(5deg);
      -o-transform: skewX(0) skewY(5deg);
      -ms-transform: skewX(0) skewY(5deg);
      transform: skewX(0) skewY(5deg);
      width: 250px;
      height: 176px;
      left: 35%; }
    #cnt3 #camera2 a {
      -webkit-transform: skewX(0) skewY(5deg);
      -moz-transform: skewX(0) skewY(5deg);
      -o-transform: skewX(0) skewY(5deg);
      -ms-transform: skewX(0) skewY(5deg);
      transform: skewX(0) skewY(5deg);
      width: 135px;
      height: 31px;
      line-height: 31px;
      bottom: 98px;
      left: 366px;
      font-size: 10px;
      letter-spacing: 105; }
  #cnt3 #camera3 {
    top: 69%;
    left: 0; }
    #cnt3 #camera3 img {
      -webkit-transform: skewX(0) skewY(5deg);
      -moz-transform: skewX(0) skewY(5deg);
      -o-transform: skewX(0) skewY(5deg);
      -ms-transform: skewX(0) skewY(5deg);
      transform: skewX(0) skewY(5deg);
      width: 176px;
      height: 207px;
      left: 346px; }

  #cnt4 {
    height: 908px;
    overflow: hidden; }
    #cnt4 .category {
      width: 100%;
      height: 100%;
      background: none; }
      #cnt4 .category > p {
        font-size: 13px;
        padding-bottom: 7px;
        padding-top: 68px; }
      #cnt4 .category > strong {
        font-size: 26px; }
      #cnt4 .category .categoryWrap {
        position: relative;
        display: block;
        float: left;
        padding-top: 149px;
        width: 50%;
        /* &:first-child > div {padding-left : 37px;} */ }
        #cnt4 .category .categoryWrap .otherWrap {
          padding-right: 25px;
          position: relative; }
          #cnt4 .category .categoryWrap .otherWrap a {
            display: block;
            margin-bottom: 7.5px;
            width: 306px;
            height: 347px; }
            #cnt4 .category .categoryWrap .otherWrap a .hoverImg {
              width: 306px;
              height: 347px;
              margin-bottom: 7.5px;
              left: 37px; }
          #cnt4 .category .categoryWrap .otherWrap:first-child {
            padding-left: 37px; }
        #cnt4 .category .categoryWrap h4 {
          font-size: 21px;
          padding-bottom: 18.5px; }
        #cnt4 .category .categoryWrap p {
          font-size: 18px;
          line-height: 26px; }
        #cnt4 .category .categoryWrap:nth-of-type(2), #cnt4 .category .categoryWrap:nth-of-type(5) {
          padding-top: 148px; }
        #cnt4 .category .categoryWrap:nth-of-type(3), #cnt4 .category .categoryWrap:nth-of-type(6) {
          padding-top: 0; }
        #cnt4 .category .categoryWrap:nth-of-type(3n) > div {
          padding-right: 25px; }

  #cnt5 .newsWrap {
    width: 100%;
    height: auto;
    /* padding-left: 41.5px; */
    padding-top: 145.5px; }
    #cnt5 .newsWrap > strong {
      font-size: 26px;
      left: 50px;
      top: 145px;
      width: 70px;
      height: 26px; }
    #cnt5 .newsWrap > a {
      top: 140px;
      right: 70px;
      width: 48px;
      height: 18px; }
    #cnt5 .newsWrap .newsCntWrap {
      position: relative;
      /* border-top: 1px solid #707070; border-bottom: 1px solid #707070;  */
      width: 750px;
      height: 785px;
      padding: 85px 40px 0; }
      #cnt5 .newsWrap .newsCntWrap ul li a {
        height: 181px; }
        #cnt5 .newsWrap .newsCntWrap ul li a .category {
          font-size: 16px;
          padding-bottom: 12px;
          padding-top: 48.5px; }
        #cnt5 .newsWrap .newsCntWrap ul li a h5 {
          font-size: 24px;
          padding-bottom: 34px; }
        #cnt5 .newsWrap .newsCntWrap ul li a .date {
          float: right; }
        #cnt5 .newsWrap .newsCntWrap ul li a .img {
          display: none; }
        #cnt5 .newsWrap .newsCntWrap ul li a.on {
          height: 328px; }
          #cnt5 .newsWrap .newsCntWrap ul li a.on .txt {
            padding-bottom: 64px;
            line-height: 25px;
            width: 643px; }
          #cnt5 .newsWrap .newsCntWrap ul li a.on .date {
            font-size: 13px;
            padding-bottom: 42.5px; }

  #cnt6 {
    height: 80vh; }
    #cnt6 .video .marquee {
      font-size: 57px;
      margin-bottom: 120px; }
    #cnt6 .video .marquee p:after {
      padding-right: 50px; }
    #cnt6 .video .marquee p {
      padding-left: 800px; }
    #cnt6 .video .videoWrap {
      border: 6px solid #707070;
      width: 663px;
      height: 480px; }
      #cnt6 .video .videoWrap .videoInner {
        padding-left: 81px;
        padding-top: 40px; }
        #cnt6 .video .videoWrap .videoInner > strong {
          font-size: 26px;
          padding-right: 370px; }
        #cnt6 .video .videoWrap .videoInner a {
          top: 49px;
          right: 111px;
          font-size: 10px; }
        #cnt6 .video .videoWrap .videoInner .iframe {
          width: 467px;
          height: 262px;
          margin-top: 0; }
          #cnt6 .video .videoWrap .videoInner .iframe iframe {
            padding-left: 13px; }
            #cnt6 .video .videoWrap .videoInner .iframe iframe:first-child {
              width: 467px; }
          #cnt6 .video .videoWrap .videoInner .iframe .iframeRight:nth-child(1) {
            display: none; }
          #cnt6 .video .videoWrap .videoInner .iframe .iframeRight:nth-child(2) {
            display: none; }

  #cnt7 {
    height: 65vh; }
    #cnt7 .insta {
      -webkit-background: linear-gradient(#12C2E9, #096A8A, #000000);
      -moz-background: linear-gradient(#12C2E9, #096A8A, #000000);
      -o-background: linear-gradient(#12C2E9, #096A8A, #000000);
      -ms-background: linear-gradient(#12C2E9, #096A8A, #000000);
      background: linear-gradient(#12C2E9, #096A8A, #000000);
      padding-top: 131px; }
      #cnt7 .insta strong {
        font-size: 26px;
        padding-left: 40px; }
      #cnt7 .insta .instaWrap a {
        padding-top: 9px;
        padding-right: 13px; }
        #cnt7 .insta .instaWrap a:first-child {
          padding-left: 55.8px; }
        #cnt7 .insta .instaWrap a:nth-child(5n) {
          padding-left: 55.8px; }
      #cnt7 .insta .instaWrap img {
        width: 154.2px;
        height: 154.2px;
        /* 호버넣기 */ } }
@media screen and (max-width: 414px) {
  #cnt1 .swiper-slide #videoBg {
    width: 100%;
    height: 100vh;
    /* min-width: 100%; */ }
  #cnt1 .swiper-slide.slide2 {
    background-image: url("../img/main/m_index1_02_414.jpg"); }
  #cnt1 .swiper-slide.slide3 {
    background-image: url("../img/main/m_index1_03_414.jpg"); }
  #cnt1 .swiper-slide .txtbox {
    top: 161.9861111111vw;
    left: 7%;
    width: 189.925vw;
    height: 41.6111111111vw; }
  #cnt1 .swiper-slide .txtbox p {
    font-size: 4.7555555556vw;
    letter-spacing: 0.1278055556vw;
    line-height: 6.5388888889vw; }
  #cnt1 .swiper-slide .txtbox h3 {
    font-size: 7.7277777778vw;
    padding-bottom: 11.5916666667vw;
    line-height: 10.4027777778vw; }
  #cnt1 .swiper-slide .txtbox p:nth-child(3) {
    font-size: 4.7555555556vw;
    padding-bottom: 17.8333333333vw;
    letter-spacing: 0.1099722222vw; }
  #cnt1 .slide2 .txtbox h3 {
    padding-bottom: 3.8638888889vw; }
  #cnt1 .slide3 .simpleExplan {
    left: 13.375vw;
    top: 57.6611111111vw;
    width: 103.4333333333vw;
    height: 12.7805555556vw;
    font-size: 2.675vw; }
    #cnt1 .slide3 .simpleExplan .simpleWrap {
      width: 30.3166666667vw;
      height: 12.1861111111vw; }
    #cnt1 .slide3 .simpleExplan .cloud img {
      width: 10.7vw;
      height: 7.4305555556vw; }
    #cnt1 .slide3 .simpleExplan .cloud p {
      margin-top: 2.0805555556vw;
      width: 30.0194444444vw; }
    #cnt1 .slide3 .simpleExplan .discount {
      margin-left: 6.2416666667vw x; }
      #cnt1 .slide3 .simpleExplan .discount img {
        width: 13.375vw;
        height: 6.5388888889vw;
        margin-bottom: 2.9722222222vw; }
    #cnt1 .slide3 .simpleExplan .cameraChange {
      margin-left: 6.2416666667vw; }
      #cnt1 .slide3 .simpleExplan .cameraChange img {
        width: 12.7805555556vw;
        height: 8.9166666667vw;
        margin-bottom: 0.8916666667vw; }
  #cnt1 .slide3 .txtbox {
    left: -75.7916666667vw; }
    #cnt1 .slide3 .txtbox h3 {
      padding-bottom: 35.0722222222vw; }
  #cnt1 .swiper-pagination {
    left: 7%; }
  #cnt1 .loadingWrap .loadingBar {
    width: 71.3333333333vw;
    height: 0.2972222222vw;
    background-color: #fff;
    position: absolute;
    top: 35.2208333333vw;
    left: 53.5vw; }
  #cnt1 .loadingWrap .runningBar {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    width: 71.3333333333vw;
    height: 0.8916666667vw;
    background-color: #fff;
    position: absolute;
    top: 35.2208333333vw;
    left: 53.5vw; }
  #cnt1 .controller {
    bottom: 19.6166666667vw;
    left: 53.5vw;
    width: 60.6333333333vw;
    height: 13.0777777778vw; }
    #cnt1 .controller .swiper-button-prev, #cnt1 .controller .swiper-button-next, #cnt1 .controller .play_stop {
      width: 13.375vw;
      height: 13.0777777778vw; }
    #cnt1 .controller .swiper-button-next {
      margin-left: 30.0194444444vw; }
    #cnt1 .controller .play_stop {
      right: 23.7777777778vw; }
  #cnt1.right {
    /* js에서 .right 없애기 */ }
    #cnt1.right .swiper-slide .txtbox {
      left: auto;
      right: 7%;
      text-align: right; }
    #cnt1.right .swiper-pagination {
      right: 7%;
      left: auto; }

  #cnt2 .newbie {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    background: url("../img/main/m_cnt2_newbie_1x.png") no-repeat left; }
    #cnt2 .newbie .newbieTxt > strong {
      top: 17.8333333333vw;
      left: 7.4305555556vw;
      font-size: 10.4027777778vw;
      line-height: 9.5111111111vw; }
    #cnt2 .newbie .detailWrap {
      padding-top: 46.2180555556vw; }
      #cnt2 .newbie .detailWrap .newbieDetail {
        padding-left: 19.6166666667vw; }
        #cnt2 .newbie .detailWrap .newbieDetail > h3 {
          font-size: 7.4305555556vw;
          line-height: 7.7277777778vw;
          padding-bottom: 5.35vw;
          margin-top: 17.0902777778vw; }
          #cnt2 .newbie .detailWrap .newbieDetail > h3::before {
            top: -17.0902777778vw;
            width: 108.4861111111vw; }
        #cnt2 .newbie .detailWrap .newbieDetail > p {
          font-size: 3.8638888889vw;
          line-height: 5.35vw;
          padding-bottom: 15.6338888889vw; }
          #cnt2 .newbie .detailWrap .newbieDetail > p:nth-child(1) {
            width: 91.2472222222vw; }
          #cnt2 .newbie .detailWrap .newbieDetail > p:nth-child(2) {
            width: 94.2194444444vw; }
          #cnt2 .newbie .detailWrap .newbieDetail > p:nth-child(3) {
            width: 89.1666666667vw; }
          #cnt2 .newbie .detailWrap .newbieDetail > p:nth-child(4) {
            width: 87.9777777778vw; }
          #cnt2 .newbie .detailWrap .newbieDetail > p:nth-child(5) {
            width: 96.0027777778vw; }
        #cnt2 .newbie .detailWrap .newbieDetail:first-child h3 {
          margin-top: 17.0308333333vw; }
        #cnt2 .newbie .detailWrap .newbieDetail:last-child p {
          padding-bottom: 15.6041666667vw; }

  #cnt3 .camerasWrap {
    left: -15.1583333333vw;
    top: -2.0805555556vw; }
  #cnt3 .camera {
    -webkit-transform: skewX(0) skewY(-5deg);
    -moz-transform: skewX(0) skewY(-5deg);
    -o-transform: skewX(0) skewY(-5deg);
    -ms-transform: skewX(0) skewY(-5deg);
    transform: skewX(0) skewY(-5deg);
    width: 100%;
    height: 34.3333%; }
    #cnt3 .camera::before {
      -webkit-filter: blur(1px);
      filter: blur(1px); }
    #cnt3 .camera .cameras {
      top: 28%; }
      #cnt3 .camera .cameras.cameraR {
        -webkit-transform: skewX(0) skewY(5deg) translateX(-50%);
        -moz-transform: skewX(0) skewY(5deg) translateX(-50%);
        -o-transform: skewX(0) skewY(5deg) translateX(-50%);
        -ms-transform: skewX(0) skewY(5deg) translateX(-50%);
        transform: skewX(0) skewY(5deg) translateX(-50%); }
      #cnt3 .camera .cameras.cameraL {
        -webkit-transform: skewX(0) skewY(5deg) translateX(-50%);
        -moz-transform: skewX(0) skewY(5deg) translateX(-50%);
        -o-transform: skewX(0) skewY(5deg) translateX(-50%);
        -ms-transform: skewX(0) skewY(5deg) translateX(-50%);
        transform: skewX(0) skewY(5deg) translateX(-50%); }
      #cnt3 .camera .cameras.cameraD {
        -webkit-transform: skewX(0) skewY(5deg) translateX(-50%);
        -moz-transform: skewX(0) skewY(5deg) translateX(-50%);
        -o-transform: skewX(0) skewY(5deg) translateX(-50%);
        -ms-transform: skewX(0) skewY(5deg) translateX(-50%);
        transform: skewX(0) skewY(5deg) translateX(-50%); }
  #cnt3 #camera1 {
    top: -9.5111111111vw;
    left: -5.0527777778vw;
    width: 117%; }
    #cnt3 #camera1 img {
      width: 41.9083333333vw;
      height: 41.9083333333vw;
      left: 83.8166666667vw; }
  #cnt3 #camera2 {
    top: 29.3333%;
    left: 0;
    height: 41%; }
    #cnt3 #camera2 img {
      -webkit-transform: skewX(0) skewY(5deg);
      -moz-transform: skewX(0) skewY(5deg);
      -o-transform: skewX(0) skewY(5deg);
      -ms-transform: skewX(0) skewY(5deg);
      transform: skewX(0) skewY(5deg);
      width: 56.175vw;
      height: 39.8277777778vw;
      left: 36%; }
    #cnt3 #camera2 a {
      -webkit-transform: skewX(0) skewY(5deg);
      -moz-transform: skewX(0) skewY(5deg);
      -o-transform: skewX(0) skewY(5deg);
      -ms-transform: skewX(0) skewY(5deg);
      transform: skewX(0) skewY(5deg);
      width: 35.3694444444vw;
      height: 8.025vw;
      line-height: 8.025vw;
      bottom: 25.5611111111vw;
      left: 62.4166666667vw;
      font-size: 2.3777777778vw; }
  #cnt3 #camera3 {
    top: 70%;
    left: 0; }
    #cnt3 #camera3 img {
      -webkit-transform: skewX(0) skewY(5deg);
      -moz-transform: skewX(0) skewY(5deg);
      -o-transform: skewX(0) skewY(5deg);
      -ms-transform: skewX(0) skewY(5deg);
      transform: skewX(0) skewY(5deg);
      width: 35.0722222222vw;
      height: 41.3138888889vw;
      left: 59.1472222222vw; }

  #cnt4 {
    height: auto;
    overflow: hidden; }
    #cnt4 .category {
      width: 100%;
      height: 100%;
      background: none; }
      #cnt4 .category > p {
        font-size: 3.8638888889vw;
        padding-bottom: 2.0805555556vw;
        padding-top: 20.2111111111vw; }
      #cnt4 .category > strong {
        font-size: 7.7277777778vw; }
      #cnt4 .category .categoryOuterWrap {
        height: 103.1361111111vw;
        width: 228.2666666667vw;
        overflow-x: auto; }
      #cnt4 .category .categoryWrap {
        /* position: relative; */
        padding-top: 0;
        width: 445.8333333333vw;
        /* &:first-child > div {padding-left : 37px;} */ }
        #cnt4 .category .categoryWrap .otherWrap {
          padding-right: 7.4305555556vw;
          position: relative; }
          #cnt4 .category .categoryWrap .otherWrap a {
            display: block;
            margin-bottom: 2.2291666667vw;
            width: 90.95vw;
            height: 103.1361111111vw; }
            #cnt4 .category .categoryWrap .otherWrap a .hoverImg {
              width: 90.95vw;
              height: 103.1361111111vw;
              margin-bottom: 2.2291666667vw;
              left: 10.9972222222vw; }
          #cnt4 .category .categoryWrap .otherWrap:first-child {
            padding-left: 10.9972222222vw; }
        #cnt4 .category .categoryWrap h4 {
          font-size: 6.2416666667vw;
          padding-bottom: 5.4986111111vw; }
        #cnt4 .category .categoryWrap p {
          font-size: 5.35vw;
          line-height: 7.7277777778vw; }
        #cnt4 .category .categoryWrap:nth-of-type(2), #cnt4 .category .categoryWrap:nth-of-type(5) {
          padding-top: 43.9888888889vw; }
        #cnt4 .category .categoryWrap:nth-of-type(3), #cnt4 .category .categoryWrap:nth-of-type(6) {
          padding-top: 0; }
        #cnt4 .category .categoryWrap:nth-of-type(3n) > div {
          padding-right: 7.4305555556vw; }

  #cnt5 {
    height: auto;
    width: 100%; }
    #cnt5 .newsWrap {
      width: 123.05vw;
      height: 292.7638888889vw;
      padding-top: 16.7930555556vw; }
      #cnt5 .newsWrap > strong {
        font-size: 7.7277777778vw;
        left: 8.6194444444vw;
        top: 26.4527777778vw;
        width: 21.1027777778vw;
        height: 10.4027777778vw; }
      #cnt5 .newsWrap > a {
        top: 29.1277777778vw;
        right: 9.2138888889vw;
        width: 14.2666666667vw;
        height: 5.35vw; }
      #cnt5 .newsWrap .newsCntWrap {
        width: 123.05vw;
        height: auto;
        padding: 25.2638888889vw 11.8888888889vw 0; }
        #cnt5 .newsWrap .newsCntWrap ul li a {
          height: 53.7972222222vw; }
          #cnt5 .newsWrap .newsCntWrap ul li a .category {
            font-size: 4.1611111111vw;
            padding-bottom: 4.9041666667vw;
            padding-top: 14.4152777778vw; }
          #cnt5 .newsWrap .newsCntWrap ul li a .txt {
            width: 98.975vw;
            font-size: 3.5666666667vw; }
          #cnt5 .newsWrap .newsCntWrap ul li a h5 {
            margin-top: 13.2263888889vw;
            font-size: 5.6472222222vw;
            padding-bottom: 7.7277777778vw; }
          #cnt5 .newsWrap .newsCntWrap ul li a .date {
            float: left;
            font-size: 3.8638888889vw; }
          #cnt5 .newsWrap .newsCntWrap ul li a .img {
            display: none; }
          #cnt5 .newsWrap .newsCntWrap ul li a p {
            display: none; }
          #cnt5 .newsWrap .newsCntWrap ul li a.on {
            height: 53.7972222222vw; }
            #cnt5 .newsWrap .newsCntWrap ul li a.on .txt {
              display: none; }
            #cnt5 .newsWrap .newsCntWrap ul li a.on .date {
              font-size: 3.8638888889vw;
              padding-bottom: 12.6319444444vw; }

  #cnt6 {
    height: auto;
    padding-bottom: 100px; }
    #cnt6 .video .marquee {
      margin-bottom: 85px; }
    #cnt6 .video .marquee p:after {
      padding-right: 50px; }
    #cnt6 .video .marquee p {
      padding-left: 450px; }
    #cnt6 .video .videoWrap {
      -webkit-border-radius: 48px;
      -moz-border-radius: 48px;
      border-radius: 48px;
      border: 3px solid #707070;
      width: 388px;
      height: 224px;
      margin: 0 auto; }
      #cnt6 .video .videoWrap .videoInner {
        padding-left: 56px;
        padding-top: 27px; }
        #cnt6 .video .videoWrap .videoInner > strong {
          font-size: 16px;
          padding-right: 215px; }
        #cnt6 .video .videoWrap .videoInner .iframe {
          width: 273px;
          height: 152px;
          margin-top: 8px; }
          #cnt6 .video .videoWrap .videoInner .iframe iframe {
            padding-left: 15px;
            border: none; }
            #cnt6 .video .videoWrap .videoInner .iframe iframe:first-child {
              width: 273px;
              height: 152px; }
          #cnt6 .video .videoWrap .videoInner .iframe a {
            top: 30px;
            right: 42px;
            font-size: 5px; }

  #cnt7 {
    height: auto;
    /* padding-bottom */ }
    #cnt7 .insta {
      padding-top: 59px;
      height: 100%; }
      #cnt7 .insta strong {
        font-size: 26px;
        padding-left: 21px; }
      #cnt7 .insta .instaOuterWrap {
        width: 550px;
        height: 295.2px;
        overflow-x: auto; }
      #cnt7 .insta .instaWrap {
        width: 2550px; }
        #cnt7 .insta .instaWrap a {
          padding-top: 9px;
          padding-right: 13px; }
          #cnt7 .insta .instaWrap a:first-child {
            padding-left: 55.8px; }
          #cnt7 .insta .instaWrap a:nth-child(5n) {
            padding-left: 0; }
        #cnt7 .insta .instaWrap img {
          width: 144.2px;
          height: 144.2px;
          /* 호버넣기 */ } }
@media screen and (max-width: 360px) {
  #cnt1 .swiper-slide #videoBg {
    width: 100%;
    height: 100vh;
    /* min-width: 100%; */ }
  #cnt1 .swiper-slide.slide2 {
    background-image: url("../img/main/m_index1_02_414.jpg"); }
  #cnt1 .swiper-slide.slide3 {
    background-image: url("../img/main/m_index1_03_414.jpg"); }
  #cnt1 .swiper-slide .txtbox {
    top: 161.9861111111vw;
    left: 7%;
    width: 189.925vw;
    height: 41.6111111111vw; }
  #cnt1 .swiper-slide .txtbox p {
    font-size: 4.7555555556vw;
    letter-spacing: 0.1278055556vw;
    line-height: 6.5388888889vw; }
  #cnt1 .swiper-slide .txtbox h3 {
    font-size: 7.7277777778vw;
    padding-bottom: 11.5916666667vw;
    line-height: 10.4027777778vw; }
  #cnt1 .swiper-slide .txtbox p:nth-child(3) {
    font-size: 4.7555555556vw;
    padding-bottom: 17.8333333333vw;
    letter-spacing: 0.1099722222vw; }
  #cnt1 .slide2 .txtbox h3 {
    padding-bottom: 3.8638888889vw; }
  #cnt1 .slide3 .simpleExplan {
    left: 13.375vw;
    top: 57.6611111111vw;
    width: 103.4333333333vw;
    height: 12.7805555556vw;
    font-size: 2.675vw; }
    #cnt1 .slide3 .simpleExplan .simpleWrap {
      width: 30.3166666667vw;
      height: 12.1861111111vw; }
    #cnt1 .slide3 .simpleExplan .cloud img {
      width: 10.7vw;
      height: 7.4305555556vw; }
    #cnt1 .slide3 .simpleExplan .cloud p {
      margin-top: 2.0805555556vw;
      width: 30.0194444444vw; }
    #cnt1 .slide3 .simpleExplan .discount {
      margin-left: 6.2416666667vw x; }
      #cnt1 .slide3 .simpleExplan .discount img {
        width: 13.375vw;
        height: 6.5388888889vw;
        margin-bottom: 2.9722222222vw; }
    #cnt1 .slide3 .simpleExplan .cameraChange {
      margin-left: 6.2416666667vw; }
      #cnt1 .slide3 .simpleExplan .cameraChange img {
        width: 12.7805555556vw;
        height: 8.9166666667vw;
        margin-bottom: 0.8916666667vw; }
  #cnt1 .slide3 .txtbox {
    left: -75.7916666667vw; }
    #cnt1 .slide3 .txtbox h3 {
      padding-bottom: 35.0722222222vw; }
  #cnt1 .swiper-pagination {
    left: 7%; }
  #cnt1 .loadingWrap .loadingBar {
    width: 71.3333333333vw;
    height: 0.2972222222vw;
    background-color: #fff;
    position: absolute;
    top: 35.2208333333vw;
    left: 53.5vw; }
  #cnt1 .loadingWrap .runningBar {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    width: 71.3333333333vw;
    height: 0.8916666667vw;
    background-color: #fff;
    position: absolute;
    top: 35.2208333333vw;
    left: 53.5vw; }
  #cnt1 .controller {
    bottom: 19.6166666667vw;
    left: 53.5vw;
    width: 60.6333333333vw;
    height: 13.0777777778vw; }
    #cnt1 .controller .swiper-button-prev, #cnt1 .controller .swiper-button-next, #cnt1 .controller .play_stop {
      width: 13.375vw;
      height: 13.0777777778vw; }
    #cnt1 .controller .swiper-button-next {
      margin-left: 30.0194444444vw; }
    #cnt1 .controller .play_stop {
      right: 23.7777777778vw; }
  #cnt1.right {
    /* js에서 .right 없애기 */ }
    #cnt1.right .swiper-slide .txtbox {
      left: auto;
      right: 7%;
      text-align: right; }
    #cnt1.right .swiper-pagination {
      right: 7%;
      left: auto; }

  #cnt2 .newbie {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    background: url("../img/main/m_cnt2_newbie_1x.png") no-repeat left; }
    #cnt2 .newbie .newbieTxt > strong {
      top: 60px;
      left: 25px;
      font-size: 35px;
      line-height: 32px; }
    #cnt2 .newbie .detailWrap {
      padding-top: 155.5px; }
      #cnt2 .newbie .detailWrap .newbieDetail {
        padding-left: 66px; }
        #cnt2 .newbie .detailWrap .newbieDetail > h3 {
          font-size: 25px;
          line-height: 26px;
          padding-bottom: 18px;
          margin-top: 57.5px; }
          #cnt2 .newbie .detailWrap .newbieDetail > h3::before {
            top: -57.5px;
            width: 365px; }
        #cnt2 .newbie .detailWrap .newbieDetail > p {
          font-size: 13px;
          line-height: 18px;
          padding-bottom: 52.6px; }
          #cnt2 .newbie .detailWrap .newbieDetail > p:nth-child(1) {
            width: 307px; }
          #cnt2 .newbie .detailWrap .newbieDetail > p:nth-child(2) {
            width: 317px; }
          #cnt2 .newbie .detailWrap .newbieDetail > p:nth-child(3) {
            width: 300px; }
          #cnt2 .newbie .detailWrap .newbieDetail > p:nth-child(4) {
            width: 296px; }
          #cnt2 .newbie .detailWrap .newbieDetail > p:nth-child(5) {
            width: 323px; }
        #cnt2 .newbie .detailWrap .newbieDetail:first-child h3 {
          margin-top: 57.3px; }
        #cnt2 .newbie .detailWrap .newbieDetail:last-child p {
          padding-bottom: 52.5px; }

  #cnt3 .camerasWrap {
    left: -51px;
    top: -7px; }
  #cnt3 .camera {
    -webkit-transform: skewX(0) skewY(-5deg);
    -moz-transform: skewX(0) skewY(-5deg);
    -o-transform: skewX(0) skewY(-5deg);
    -ms-transform: skewX(0) skewY(-5deg);
    transform: skewX(0) skewY(-5deg);
    width: 100%;
    height: 34.3333%; }
    #cnt3 .camera::before {
      -webkit-filter: blur(1px);
      filter: blur(1px); }
    #cnt3 .camera .cameras {
      top: 28%; }
      #cnt3 .camera .cameras.cameraR {
        -webkit-transform: skewX(0) skewY(5deg) translateX(-50%);
        -moz-transform: skewX(0) skewY(5deg) translateX(-50%);
        -o-transform: skewX(0) skewY(5deg) translateX(-50%);
        -ms-transform: skewX(0) skewY(5deg) translateX(-50%);
        transform: skewX(0) skewY(5deg) translateX(-50%); }
      #cnt3 .camera .cameras.cameraL {
        -webkit-transform: skewX(0) skewY(5deg) translateX(-50%);
        -moz-transform: skewX(0) skewY(5deg) translateX(-50%);
        -o-transform: skewX(0) skewY(5deg) translateX(-50%);
        -ms-transform: skewX(0) skewY(5deg) translateX(-50%);
        transform: skewX(0) skewY(5deg) translateX(-50%); }
      #cnt3 .camera .cameras.cameraD {
        -webkit-transform: skewX(0) skewY(5deg) translateX(-50%);
        -moz-transform: skewX(0) skewY(5deg) translateX(-50%);
        -o-transform: skewX(0) skewY(5deg) translateX(-50%);
        -ms-transform: skewX(0) skewY(5deg) translateX(-50%);
        transform: skewX(0) skewY(5deg) translateX(-50%); }
  #cnt3 #camera1 {
    top: -32px;
    left: -17px;
    width: 117%; }
    #cnt3 #camera1 img {
      width: 141px;
      height: 141px;
      left: 282px; }
  #cnt3 #camera2 {
    top: 29.3333%;
    left: 0;
    height: 41%; }
    #cnt3 #camera2 img {
      -webkit-transform: skewX(0) skewY(5deg);
      -moz-transform: skewX(0) skewY(5deg);
      -o-transform: skewX(0) skewY(5deg);
      -ms-transform: skewX(0) skewY(5deg);
      transform: skewX(0) skewY(5deg);
      width: 189px;
      height: 134px;
      left: 36%; }
    #cnt3 #camera2 a {
      -webkit-transform: skewX(0) skewY(5deg);
      -moz-transform: skewX(0) skewY(5deg);
      -o-transform: skewX(0) skewY(5deg);
      -ms-transform: skewX(0) skewY(5deg);
      transform: skewX(0) skewY(5deg);
      width: 119px;
      height: 27px;
      line-height: 27px;
      bottom: 86px;
      left: 210px;
      font-size: 8px; }
  #cnt3 #camera3 {
    top: 70%;
    left: 0; }
    #cnt3 #camera3 img {
      -webkit-transform: skewX(0) skewY(5deg);
      -moz-transform: skewX(0) skewY(5deg);
      -o-transform: skewX(0) skewY(5deg);
      -ms-transform: skewX(0) skewY(5deg);
      transform: skewX(0) skewY(5deg);
      width: 118px;
      height: 139px;
      left: 199px; }

  #cnt4 {
    height: auto;
    overflow: hidden; }
    #cnt4 .category {
      width: 100%;
      height: 100%;
      background: none; }
      #cnt4 .category > p {
        font-size: 13px;
        padding-bottom: 7px;
        padding-top: 68px; }
      #cnt4 .category > strong {
        font-size: 26px; }
      #cnt4 .category .categoryOuterWrap {
        height: 347px;
        width: 768px;
        overflow-x: auto; }
      #cnt4 .category .categoryWrap {
        position: relative;
        padding-top: 149px;
        /*  width: 50%; */
        width: 1000px;
        /* &:first-child > div {padding-left : 37px;} */ }
        #cnt4 .category .categoryWrap .otherWrap {
          padding-right: 25px;
          position: relative; }
          #cnt4 .category .categoryWrap .otherWrap a {
            display: block;
            margin-bottom: 7.5px;
            width: 306px;
            height: 347px; }
            #cnt4 .category .categoryWrap .otherWrap a .hoverImg {
              width: 306px;
              height: 347px;
              margin-bottom: 7.5px;
              left: 37px; }
          #cnt4 .category .categoryWrap .otherWrap:first-child {
            padding-left: 37px; }
        #cnt4 .category .categoryWrap h4 {
          font-size: 21px;
          padding-bottom: 18.5px; }
        #cnt4 .category .categoryWrap p {
          font-size: 18px;
          line-height: 26px; }
        #cnt4 .category .categoryWrap:nth-of-type(2), #cnt4 .category .categoryWrap:nth-of-type(5) {
          padding-top: 148px; }
        #cnt4 .category .categoryWrap:nth-of-type(3), #cnt4 .category .categoryWrap:nth-of-type(6) {
          padding-top: 0; }
        #cnt4 .category .categoryWrap:nth-of-type(3n) > div {
          padding-right: 25px; }

  #cnt5 {
    height: 90vh; }
    #cnt5 .newsWrap {
      width: 414px;
      height: 985px;
      padding-top: 56.5px; }
      #cnt5 .newsWrap > strong {
        font-size: 26px;
        left: 29px;
        top: 89px;
        width: 71px;
        height: 35px; }
      #cnt5 .newsWrap > a {
        top: 98px;
        right: 31px;
        width: 48px;
        height: 18px; }
      #cnt5 .newsWrap .newsCntWrap {
        width: 414px;
        height: auto;
        padding: 85px 40px 0; }
        #cnt5 .newsWrap .newsCntWrap ul li a {
          height: 181px; }
          #cnt5 .newsWrap .newsCntWrap ul li a .category {
            font-size: 14px;
            padding-bottom: 16.5px;
            padding-top: 48.5px; }
          #cnt5 .newsWrap .newsCntWrap ul li a .txt {
            width: 333px;
            font-size: 12px; }
          #cnt5 .newsWrap .newsCntWrap ul li a h5 {
            margin-top: 44.5px;
            font-size: 20px;
            padding-bottom: 26px; }
          #cnt5 .newsWrap .newsCntWrap ul li a .date {
            float: left;
            font-size: 13px; }
          #cnt5 .newsWrap .newsCntWrap ul li a .img {
            display: none; }
          #cnt5 .newsWrap .newsCntWrap ul li a p {
            display: none; }
          #cnt5 .newsWrap .newsCntWrap ul li a.on {
            height: 181px; }
            #cnt5 .newsWrap .newsCntWrap ul li a.on .txt {
              display: none; }
            #cnt5 .newsWrap .newsCntWrap ul li a.on .date {
              font-size: 13px;
              padding-bottom: 42.5px; }

  #cnt6 {
    height: 70vh; }
    #cnt6 .video .marquee {
      margin-bottom: 85px; }
    #cnt6 .video .marquee p:after {
      padding-right: 50px; }
    #cnt6 .video .marquee p {
      padding-left: 450px; }
    #cnt6 .video .videoWrap {
      -webkit-border-radius: 48px;
      -moz-border-radius: 48px;
      border-radius: 48px;
      border: 3px solid #707070;
      width: 388px;
      height: 224px;
      margin: 0 auto; }
      #cnt6 .video .videoWrap .videoInner {
        padding-left: 56px;
        padding-top: 27px; }
        #cnt6 .video .videoWrap .videoInner > strong {
          font-size: 16px;
          padding-right: 215px; }
        #cnt6 .video .videoWrap .videoInner .iframe {
          width: 273px;
          height: 152px;
          margin-top: 8px; }
          #cnt6 .video .videoWrap .videoInner .iframe iframe {
            padding-left: 15px;
            border: none; }
            #cnt6 .video .videoWrap .videoInner .iframe iframe:first-child {
              width: 273px;
              height: 152px; }
          #cnt6 .video .videoWrap .videoInner .iframe a {
            top: 30px;
            right: 42px;
            font-size: 5px; }

  #cnt7 {
    height: 65vh; }
    #cnt7 .insta {
      padding-top: 59px; }
      #cnt7 .insta strong {
        font-size: 26px;
        padding-left: 21px; }
      #cnt7 .insta .instaOuterWrap {
        width: 550px;
        height: 295.2px;
        /* overflow: hidden; */ }
      #cnt7 .insta .instaWrap {
        float: left;
        overflow: auto; }
        #cnt7 .insta .instaWrap a {
          padding-top: 9px;
          padding-right: 13px; }
          #cnt7 .insta .instaWrap a:first-child {
            padding-left: 55.8px; }
          #cnt7 .insta .instaWrap a:nth-child(5n) {
            padding-left: 0; }
        #cnt7 .insta .instaWrap img {
          width: 144.2px;
          height: 144.2px;
          /* 호버넣기 */ } }

/*# sourceMappingURL=main.css.map */
